{% extends 'theme.html' %}
{% load static %}
{% block content %} 

<div class="container" id="about">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4 mb-5 text-center">About our magic company</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-7 rounded">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1517401.9349527294!2d-53.094561345781656!3d-79.2979122962765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbae576074ada5fb1%3A0xd223dbff2672481c!2sBerkner!5e0!3m2!1sen!2sua!4v1598531321805!5m2!1sen!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Who we are?</h3>
      <p>We are the only company in the world based on berkner. Our workers have magical powers and they are able to work well even in such a severe frost.</p>
      <p>The materials from which we make our products are hardened by the Antarctic wind and the warm hands of our workers.</p>
      <h3 class="my-3">Our advantages</h3>
      <ul>
        <li>incredible quality of materials</li>
        <li>cool to sleep in summer</li>
        <li>warm to sleep in winter</li>
        <li>delivery on a nuclear ice drift</li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}