{% extends 'theme.html' %}
{% load static %}
{% block content %} 

    <div class="" id="blog">

      <div class="text-center" id="blog-sector">
        <hr>
        <h3 class="my-4 text-light">WHAT WE THINK ABOUT PYJAMAS ?</h3>
        <hr>
      </div>

      <!-- Page Content -->
      <div class="container text-light py-2 mb-5">

        {% for post in posts %}
          <div class="text-center mb-3">
            <a class="h2 text-light"  href="/post/{{post.id}}">{{post.title}}</a>
          </div>
        {% endfor %}

      </div>
    </div>

{% endblock %}